extends ../layout

block content
    h3(class='title') Update PEOPLE:
      table.ui.celled.table.center.aligned
        tr(style='width:50%, height:30px')
            td
                form(action=`/people/${data.id}?_method=PUT` method="post")
                    label NAME: 
                        input(type="text" name="name" value=data.name)
                        input(type="submit" value="Save")
    a(href="http://localhost:8080/people") BACK